<div>If the input received is too great it will loop back to this page.</div>
<br>
<form action="/generate" method="post">
  Sentences: (Max of 500)<br>
  <input type="number" name="sentences" value="0"><br>
  Paragraphs: (Max of 50)<br>
  <input type="number" name="paragraphs" value="0"><br>
  Pages: (Max of 5)<br>
  <input type="number" name="pages" value="0"><br>
  <input type="submit" value="Generate">
</form>